#tabs{
	background: white;
    color: #0F2A51;
}
#tabs h6.section-title{
    color: #eee;
}

#tabs .nav-tabs.active, .nav-link.active {
    color: #25283A !important;
    background-color: transparent;
    border-color: transparent transparent #25283A;
    /* border-bottom: 4px solid !important; */
    width: fit-content;
    font-size: 16px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #C4C4C4;
    font-size: 16px;
}
.tab .nav-tabs{ 
    width: 600px;     
}
.nav-fill .nav-item {
    flex: 1 1 auto;
    text-align: left;
    border-right:3px solid #C4C4C4 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.nav-item:last-of-type{
    border-right:0px solid grey !important;
}
.nav-tabs
{
    border:0px solid transparent;
}
.btn-radius{
    background: var(--unnamed-color-ed1b2f) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ed1b2f);
    background: #ED1B2F 0% 0% no-repeat padding-box;
    border: 1px solid #ED1B2F;
    border-radius: 18px;
    opacity: 1;
}
.btn-radius2{
    background: var(--unnamed-color-ed1b2f) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ed1b2f);
    background:#ED1B2F 0% 0% no-repeat padding-box;
    border: 1px solid #ED1B2F;
    border-radius: 18px;
    opacity: 1;
}
.header-card{
    background-color: #ED1B2F;
    color: white;
    text-align: center; 
    font-size: 12px; 
    height: 34px;
    padding: 6px;
}
.header-card2{
    background-color: #ED1B2F;
    height: 7px;
    padding: 0px;
}
.body-card{
    margin-top: 10px;
    text-align: center; 
    font-size:14px;
    padding: 10px;
    color: #222222;
}
.dropdown-list{
    background-color: white;
    border-color: grey;
    color: black;
    width: 162.5px;
}