.auto-container{
    max-width: 1230px;
    margin:0 auto;
}
.img-gradient{
    position:relative;
    display:inline-block;
}
  
.img-gradient:after {
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    display:inline-block;
    background: transparent linear-gradient(206deg, #F2F2F200 0%, #F2F0F003 17%, #F2ECEC00 29%, #F0899221 42%, #EE4B5AA8 75%, var(--unnamed-color-ed1b2f) 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(206deg, #F2F2F200 0%, #F2F0F003 17%, #F2ECEC00 29%, #F0899221 42%, #EE4B5AA8 75%, #ED1B2F 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.img-gradient img{
    display:block;
}
  
/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 70%;
    /* right: 50%; */
    transform: translate(-50%, -50%);
}

.mainpage_img-gradient:after{
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    display:inline-block;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    background: transparent linear-gradient(36deg, #F2F2F200 0%, #F2ECEC00 30%, #F0899221 46%, #EE4B5A8F 69%, var(--unnamed-color-ed1b2f) 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(36deg, #F2F2F200 0%, #F2ECEC00 30%, #F0899221 46%, #EE4B5A8F 69%, #ED1B2F 100%) 0% 0% no-repeat padding-box;
    opacity: 0.9;
}


.success_circle {
    width: 101px;
    height: 101px;
    margin-bottom: 47.35px;
}

.back_button{
    background-color: #ED1B2F;
    color:white;
    border-radius: 35px
    
}
.pay_button{
    background-color: #ED1B2F;
    color:white !important;
    border-radius: 35px;
    width:203px;
    padding:88 10 88 10;
}
.btn-lg{
    font-size: 16px !important;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 44.5px;
    padding-left: 44.5px;
}

/* Red border */
hr.color {
    border-top: 1px solid rgb(99, 93, 93);
  }

.about-text-shadow{
    text-shadow: 0px 3px 20px #00000094;
}

/* a:visited {
    text-decoration: none !important;
    color: #ED1B2F;
} */

.semi-title{
    font-weight: 600;
    font-size:14px;
    color:#25283A;
}
.third-title{
    font-weight: 600;
    font-size:16px;
    color:#25283A;
}
.semi-content{
    font-size:14px;
    color:#25283A;
}
.normal-content{
    font-size:12px;
}

.forth-title{
    font-size:20px !important;
    color:#25283A !important;
}

.fixed-top{
    margin-bottom: 70px;
    /* transition: all 0.35s ease; */
}
dl, ol, ul{
    padding-left: 16px !important;
}
.dropdown-toggle::after {
    display: none;
}
